<staticContent>
    <remove fileExtension=".woff"/>
    <remove fileExtension=".woff" mimeType="application/x-font-woff"/>
    <remove fileExtension=".woff2"/>
    <remove fileExtension=".woff2" mimeType="application/x-font-woff2"/>
    <remove fileExtension=".ttf"/>
    <remove fileExtension=".ttf" mimeType="application/x-font-ttf"/>
</staticContent>